#### Alternative interface combining grain with pillar lookups ####

{% from "x2goserver/map.jinja" import x2goserver as grain_get with context %}
{% set p  = salt['pillar.get']('x2goserver', {}) %}

{%- set projectname       = p.get('projectname'), grain_get['projectname']' ) -%}
{%- set packagename       = p.get('packagename'), grain_get['packagename']' ) -%}
{%- set servicename       = p.get('servicename'), grain_get['servicename']' ) -%}
{%- set version           = p.get('version', grain_get['version'] ) -%}
{%- set group_action      = p.get('group_action'), grain_get['group_action') -%}
{%- set group_pkg         = p.get('group_pkg'), grain_get['group_pkg') -%}
{%- set home              = p.get('home', grain_get['home']) -%}
{%- set archive_type      = p.get('archive_type', grain_get['archive_type'] ) -%}
{%- set conf_dir          = p.get('conf_dir', grain_get['conf_dir']) -%}
{%- set conf_file         = p.get('conf_file', grain_get['conf_file']) -%}
{%- set pid_file          = p.get('pid_file'), grain_get['pid_file']) -%}
{%- set sbin_dir          = p.get('sbin_dir'), grain_get['sbin_dir']) -%}
{%- set use_sysvinit      = p.get('use_sysvinit', grain_get['use_sysvinit']) -%}
{%- set use_upstart       = p.get('use_upstart', grain_get['use_upstart']) -%}
{%- set old_init_disable  = p.get('old_init_disable'), grain_get['old_init_disable']) -%}
{%- set disable_b4_rename = p.get('disable_b4_rename'), grain_get['disable_b4_rename']) -%}
{%- set repo_source       = p.get('repo_source', grain_get['repo_source']) -%}
{%- set ppa_url           = p.get('ppa_url', grain_get['ppa_url']) -%}
{%- set ppa_keyid         = p.get('ppa_keyid', grain_get['ppa_keyid']) -%}

{%- set build_from_source = p.get('build_from_source', grain_get['build_from_source']) -%}
{%- set source_url        = p.get('source_url'), grain_get['source_url'] ) -%}
{%- if source_url == grain_get['source_url'] %}
  {%- set source_urlhash  = grain_get['source_urlhash'] %}
{%- else %}
  {%- set source_urlhash  = p.get('source_urlhash'), grain_get['source_urlhash'] ) -%}
{%- endif %}
{%- set source_root       = p.get('source_root'), grain_get['source_root'] ) -%}
{%- set configure_make    = p.get('configure_make'), grain_get['configure_make']) -%}
{%- set make_install      = p.get('make_install'), grain_get['make_install']) -%}
{%- set silence_compiler  = p.get('silence_compiler'), grain_get['silence_compiler']) -%}
{%- set user              = p.get('user'), grain_get['user']) -%}
{%- set printuser         = p.get('printuser'), grain_get['printuser']) -%}
{%- set build_deps        = p.get('build_deps'), grain_get['build_deps']) -%}
{%- set runtime_deps      = p.get('runtime_deps'), grain_get['runtime_deps']) -%}

{%- set x2goserver = {} %}
{%- do x2goserver.update( { 'projectname'      : projectname,
                            'packagename'      : packagename,
                            'version'          : version,
                            'servicename'      : servicename,
                            'group_action'     : group_action,
                            'group_pkg'        : group_pkg,
                            'home'             : home,
                            'archive_type'     : archive_type,
                            'conf_dir'         : conf_dir,
                            'conf_file'        : conf_file,
                            'log_dir'          : log_dir,
                            'pid_file'         : pid_file,
                            'sbin_dir'         : sbin_dir,
                            'use_upstart'      : use_upstart,
                            'use_sysvinit'     : use_sysvinit,
                            'build_deps'       : build_deps,
                            'runtime_deps'     : runtime_deps,
                            'old_init_disable' : old_init_disable,
                            'repo_source'      : repo_source,
                            'ppa_url'          : ppa_url,
                            'ppa_keyid'        : ppa_keyid,

                            'build_from_source': build_from_source,
                            'source_url'       : source_url,
                            'source_urlhash'   : source_urlhash,
                            'source_root'      : source_root,
                            'configure_make'   : configure_make,
                            'make_install'     : make_install,
                            'silence_compiler' : silence_compiler,
                            'user'             : user,
                            'printuser'        : printuser,
                            'disable_b4_rename': disable_b4_rename,
                     }) %}
