{% macro sls_block(dict) %}
    {% for key, value in dict.items() %}
    - {{ key }}: {{ value|json() }}
    {% endfor %}
{% endmacro %}

{% set pinentryx2go = salt['pillar.get']('x2go:pinentryx2go', {
    'lookup': salt['grains.filter_by']({
    'default':{
        'bin_dir': '/usr/bin',
        'gpg_check': False,
        'build_deps': '',
        'runtime_deps': '',
        },
        'Debian': {
        'build_deps': 'build-essential',
        },
        'CentOS': {
            'rh_os_releasever': '$releasever',
        },
        'RedHat': {
            'rh_os_releasever': '$releasever',
            'build_deps': '',
            'runtime_deps': '',
        },
        'Suse': {
            'gpg_check': True,
            'gpg_key': 'http://download.opensuse.org/repositories/client:/http/openSUSE_13.2/repodata/repomd.xml.key'
        },
        'Arch': {
        },
        'Gentoo': {
        },
    }, default='Debian' ),
    'projectname' : 'x2go',
    'build_from_source': True,
    'install_from_ppa': False,
    'install_from_repo': False,
    'source': {
        'version': '0.7.5.9',
        'archive_type': 'tar.gz',
        'source_url': 'https://code.x2go.org/releases/source/pinentry-x2go/pinentry-x2go-0.7.5.9.tar.gz',
        'source_urlhash': 'https://code.x2go.org/releases/source/pinentry-x2go/pinentry-x2go-0.7.5.9.tar.gz.sha256',
        'source_root': '/usr/local/src/pinentryx2go-0.7.5.9',
        'silence_compiler': True,
        'configure_make': 'make -j2',
        'make_install': 'make install',
        'bin_dir' : '/usr/local/bin',
    },
    'package': {
        'packagename': 'pinentryx2go',
        'ppa_version': 'stable',
        'ppa_stable': 'http://ppa.launchpad.net/x2go/stable/ubuntu',
        'ppa_unstable': 'http://ppa.launchpad.net/x2go/ppa/ubuntu',
        'ppa_keyid': '0A53F9FD',
        'opts': {},
    },
    'client': {
        'clientname': 'pinentryx2go',
        'enable': True,
        'user': 'x2gouser',
        'printuser': 'x2goprint',
        'binary': 'x2gocleansessions',
        'pid_file': '/run/pinentryx2go.pid',
        'home': '/var/spool/pinentryx2go',
        'conf_dir': '/etc/x2go/',
        'conf_file': 'pinentryx2go.conf',
        'opts': {},
        'config': {
        },
    },
}, merge=True) %}
